<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- IMU  -->
  <xacro:default_imu_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="-0.02407  -0.16119 0.05839" rpy="0 0 0"/>
  </xacro:default_imu_macro>
  <!-- DVL  -->
  <xacro:default_dvl_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0.06593 -0.006  -0.13673" rpy="0 ${0.5*pi} 0"/>
  </xacro:default_dvl_macro>
  <!-- Pressure  -->
  <xacro:default_pressure_macro namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="-0.08048 -0.01294  0.06524" rpy="0 0 0"/>
  </xacro:default_pressure_macro>
  <!-- Magnetometer  -->
  <xacro:default_magnetometer namespace="${namespace}" parent_link="${namespace}/base_link"/>




  <!-- Mount a Pose 3D sensor. This will give 3D pose -->
  <xacro:default_pose_3d_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}" />
</robot>
