#manta/thruster_allocator:
/**:
  ros__parameters:
    thruster_manager:
      tf_prefix: swift
      base_link: base_link
      thruster_topic_prefix: thrusters/
      thruster_topic_suffix: /input
      thruster_frame_base: thruster_
      max_thrust: 45.0
      timeout: -1.0
      update_rate: 50.0
      conversion_fcn: proportional
      conversion_fcn_params:
        gain: 0.000004 # <rotorConstant> T200, 12V for a 2nd order curve fit: tau = gain * abs(x)*x
